
@{
    ViewBag.Title = "First";
}

<h2>First query</h2>
<form action="@Url.Action("FirstAnswer")">
    <div class="form-group row">
        <label>Cafedra</label>
        <input type="text" name="Cafedra" />
    </div>
    <div class="form-group row">
        <label>Faculty</label>
        <input type="text" name="Faculty" />
    </div>
    <div class="form-group row">
        <label>Speciality</label>
        <input type="text" name="Speciality" />
    </div>
    <button type="submit">SUBMIT</button>
</form>
