
@{
    ViewBag.Title = "Fourth";
}

<h2>Всі контрактники, у яких є оцінка "5"</h2>
<form action="@Url.Action("FourthAnswer")">
    @*<div class="form-group row">
            <label>Diploma Name</label>
            <input type="text" name="DiplomaName" />
        </div>*@
    <button type="submit">SUBMIT</button>
</form>
