@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <h2>Select query</h2>
    </div>
    <div class="row">
        <a class="col-md-3 btn btn-default" href="@Url.Action("First")">First query</a>
        <a class="col-md-3 btn btn-default" href="@Url.Action("Second")">Second query</a>
        <a class="col-md-3 btn btn-default" href="@Url.Action("Third")">Third query</a>
        <a class="col-md-3 btn btn-default" href="@Url.Action("Fourth")">Fourth query</a>
    </div>
</div>