
@{
    ViewBag.Title = "Second";
}

<h2>Імена студентів 3 курсу у яких є предмет "Вища математика"</h2>
<form action="@Url.Action("SecondAnswer")">
    @*<div class="form-group row">
        <label>Subject</label>
        <input type="text" name="Subject" />
    </div>*@
    <button type="submit">SUBMIT</button>
</form>
