
@{
    ViewBag.Title = "Third";
}

<h2>Телефони студентів з дипломом </h2>
<form action="@Url.Action("ThirdAnswer")">
    <div class="form-group row">
            <label>Назва диплому:</label>
            <input type="text" name="diplomaName" />
        </div>
    <button type="submit">SUBMIT</button>
</form>
