
@{
    ViewBag.Title = "Third";
}

<h2>Third</h2>
<form action="@Url.Action("ThirdAnswer")">
    @*<div class="form-group row">
            <label>Diploma Name</label>
            <input type="text" name="DiplomaName" />
        </div>*@
    <button type="submit">SUBMIT</button>
</form>
